/* Colors */
.alertjs-notifications {
  z-index: 1000;
  position: fixed;
  bottom: 1em;
  right: 1em;
  width: auto; }

.alertjs {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  font-family: sans-serif;
  padding: 1em;
  position: relative;
  border-width: 1px;
  border-style: solid; }
  .alertjs h1 {
    font-size: 14pt;
    font-weight: bold;
    margin: 0 !important;
    padding: 0 !important; }
  .alertjs p {
    font-size: 10pt;
    margin: 0 !important;
    padding: 0 !important; }
  .alertjs a.close {
    position: absolute;
    top: 1em;
    right: 1em;
    text-decoration: none; }
  .alertjs.notification {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 20em;
    margin-bottom: 1em; }
  .alertjs.error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #ce8383; }
    .alertjs.error a {
      color: #b94a48; }
  .alertjs.warning {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #f0db70; }
    .alertjs.warning a {
      color: #c09853; }
  .alertjs.info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #70bbe1; }
    .alertjs.info a {
      color: #3a87ad; }
  .alertjs.success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #93cd7c; }
    .alertjs.success a {
      color: #468847; }
